{% extends 'layout.twig'%}

{% block title %} La bonne adresse - Page d'administration {% endblock %}

{% block content %}
    {% if editpost == true %}    
        <div class="posteditor col-lg-12">    
            <h2 class="adm-title"> MODIFIER L'ARTICLE </h2>
            <form method='post' action='index.php?action=postedited&amp;publicationId={{ post.getId }}'> 
                <label for='title'> 
                    <p>Nom du restaurant </p>
                    <input type='text' name='title' id='title' value='{{ post.getTitle }}' class="text-input"> 
                </label> <br />
                <label for='text'>
                    <p>L'article</p>
                    <textarea name='text' id='text' class="text-input"> {{ post.getText }} </textarea> 
                </label> <br />
                <input type='text' value='{{ session.token }}' hidden='true'>
                <label>
                    <input type='submit' value='Modifier' class="submit">
                </label>
            </form>
        </div>
    {% endif %}

    {% if editpost == false %}
        <div class="posteditor col-lg-12">    
            <h2 class="adm-title"> NOUVEL ARTICLE </h2>
            <form method='post' action='index.php?action=newpost' enctype="multipart/form-data"> 
                <label for='title'> 
                    <p>Nom du restaurant </p>
                    <input type='text' name='title' id='title' class="text-input">
                </label> <br />
                <label for='text'>
                    <p>L'article</p>
                    <textarea name='text' id='text' class="text-input"> </textarea> 
                </label> <br />
                <label for'address'>
                    <p>Adresse du restaurant</p>
                    <input type='search' name='address' id='address' class="text-input" placeholder="tapez l'adresse du restaurant ici..."/>
                    <button id="search" class="glyphicon glyphicon-search"> </button>
                    <ul id='addresses'></ul>
                </label> <br/>
                <input type='text' name='long' id='long' hidden='true'/>
                <input type='text' name='lat' id='lat' hidden='true'/>
                <input type='text' value='{{ session.token }}' hidden='true'>
                <label>
                    <p>Photo de couverture</p>
                    <input type='file' name='picture' id='picture'>
                </label>
                <label>
                    <input type='submit' value='Publier' class="submit">
                </label>
            </form>
        </div>

        <div> {{ session.message }} </div>
        
        <div class="col-lg-12 articles-interface">  
            <h2 class="adm-title"> LES ARTICLES </h2>
            <div class="articles">
                {% for post in posts %}

                    <div class="post col-lg-5 article-box">
                        <h3>
                            {{ post.getTitle }}
                            <em>le {{ post.getDate }}</em>
                        </h3>
                        <a href="index.php?action=editpost&amp;publicationId={{ post.getId }}&amp;token={{ session.token }}"> Modifier l'article </a> <br />
                        <a href="index.php?action=deletepost&amp;publicationId={{ post.getId }}&amp;token={{ session.token }}" > Supprimer cette publication </a> <br />
                        <a href="index.php?action=showpost&amp;publicationId={{ post.getId }}&amp;token={{ session.token }}" target="_blank" > Lire l'article </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="public/js/navbar.js"></script>
{% endblock %}