{% extends 'layout.twig' %}

{% block title %} La bonne adresse - {{post.getTitle}} {% endblock %}

{% block content %}
    
    <header class="masthead" style="background-image: url('public/images/{{ post.getPicture }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row title">
          <div class="col-lg-8 col-md-10 mx-auto ">
            <div class="site-heading">
              <h1>{{ post.getTitle|raw }}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="row col-lg-12 block-comment">
      <div>

          <h3 class="publication-title"><i class="fas fa-certificate"></i> {{ post.getTitle|raw}}</h3>
          <div class="publicationtext">{{post.getText|raw}}</div>
      
      </div>

      <div>
          <h3 class="comment-title"><i class="far fa-comment-alt"></i> Les commentaires</h3>

          {% for comment in comments %}
              <div class="comments">
                  <div class="comment"> 
                    {{ comment.getText|raw }}
                    {{ comment.getUsername }} le {{ comment.getDate }}
                    <hr>
                  </div>
              </div>
          {% endfor %}

      </div>

      <div>
            <h3 class="comment-title"><i class="fas fa-pen"></i> Votre commentaire</h3>
            <form action="index.php?action=addComment&amp;publicationId={{post.getId}}" method="post">
            <textarea id="comment" name="comment"> </textarea>
            <p> <input type="submit" value="Envoyer" class="submit"/> </p>
            </form>
      </div>
    </div>

{% endblock %}

